[submodule "dependencies/nl2ltl"]
	path = dependencies/nl2ltl
	url = https://github.com/MiquelGomezCorral/nl2ltl.git
[submodule "dependencies/Flat"]
	path = dependencies/Flat
	url = https://github.com/MiquelGomezCorral/Flat.git
