LLM_PROVIDER=opencode
# LLM_PROVIDER=antigravity
# LLM_PROVIDER=openai
# LLM_PROVIDER=huggingface

# MONA_EXECUTABLE=mona

# =============================================
# OPENCODE
# =============================================
OPENCODE_BASE_URL=https://opencode.ai/zen/v1
# Slow
# OPENCODE_MODEL=nemotron-3.5-lightning-free
# OPENCODE_MODEL=nemotron-3-ultra-free

# Fast 
OPENCODE_MODEL=big-pickle
# OPENCODE_MODEL=mimo-v2.5-free 


OPENCODE_API_KEY=


# =============================================
# OPENAI
# =============================================
OPENAI_API_KEY=
OPENAI_MODEL=gtp-5.6-luna


# =============================================
# HUGGING FACE
# =============================================
HF_API_KEY=


# =============================================
# AGY
# =============================================
#ANTIGRAVITY_MODEL=gemini-3.8-flash-high     # Gemini 3.8 Flash (High)
#ANTIGRAVITY_MODEL=gemini-3.8-flash-medium   # Gemini 3.8 Flash (Medium)
#ANTIGRAVITY_MODEL=gemini-3.8-flash-low      # Gemini 3.8 Flash (Low)
#ANTIGRAVITY_MODEL=gemini-3.7-flash-high     # Gemini 3.7 Flash (High)
#ANTIGRAVITY_MODEL=gemini-3.7-flash-medium   # Gemini 3.7 Flash (Medium)
#ANTIGRAVITY_MODEL=gemini-3.7-flash-low      # Gemini 3.7 Flash (Low)
#ANTIGRAVITY_MODEL=gemini-3.6-flash-high     # Gemini 3.6 Flash (High)
#ANTIGRAVITY_MODEL=gemini-3.6-flash-medium   # Gemini 3.6 Flash (Medium)
ANTIGRAVITY_MODEL=gemini-3.6-flash-low      # Gemini 3.6 Flash (Low)
#ANTIGRAVITY_MODEL=gemini-3.1-pro-high       # Gemini 3.1 Pro (High)
#ANTIGRAVITY_MODEL=gemini-3.1-pro-low        # Gemini 3.1 Pro (Low)
#ANTIGRAVITY_MODEL=claude-sonnet-4-6         # Claude Sonnet 4.6 (Thinking)
#ANTIGRAVITY_MODEL=claude-opus-4-6-thinking  # Claude Opus 4.6 (Thinking)